---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "404: Not Found" includeSidebar={false}>
  <div class="text-center">
    <h1 class="text-9xl font-bold mb-4">🏝</h1>
    <h1 class="text-9xl font-bold mb-2">404</h1>
    <h3 class="text-2xl">The page you're looking for couldn't be found.</h3>
    <a class="btn btn-accent mt-9" href="https://maciejtatarek.gitlab.io/portfolio/">Home</a>
  </div>
</BaseLayout>
