---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-5 text-justify">
    Experienced AI Specialist with a track record of delivering innovative end-to-end AI solutions across diverse industries. Expert in consulting and possessing strong technical skills. Proven success in achieving favorable outcomes for clients. Seeking AI solution development opportunities, including rigorous data protection environments. 
  </div>


  <div class="mb-5">
    <div class="text-xl w-full font-bold">Tech Stack</div>
  </div>

  <ul class="mb-10 list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Google Cloud</li>
    <li>AWS</li>
    <li>HuggingFace</li>
    <li>Elasticsearch</li>
    <li>PyTorch</li>
    <li>Vector Search</li>
    <li>LLM</li>
    <li>CI/CD</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Neo4j</li>
    <li>React</li>
    <li>Bigquery</li>
    <li>SQL</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Plato Digital GmbH | CTO / Co-Founder"
      subtitle="Jan  2023 – now | Berlin"
    >
    <div class="mb-2">Collaborated with major pharma companies to enhance communication between pharma and patients, providing education and therapy assistance.</div>
    <div class="mb-2">Developed a patient-facing cross-platform mobile app for cancer patients, delivering hyper-personalized treatment information in collaboration with clinics.</div>
    <div class="mb-2">Created a robust analytics system, optimizing user engagement and delivering valuable insights for partners.</div>
    <div class="mb-2">Implemented a data privacy-compliant AI assistant for medical data collection, ensuring LLM content creation with accuracy and quality.</div>
    <div class="">Analyzed data privacy and security guidelines for processing medical information and prepared processes for ISO 27001 certification.</div>
        </TimeLineElement>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Accenture | AI Engineering Consultant"
      subtitle="Jun  2020 – May 2023 | Berlin"
    >
    <div class="mb-2">Led a high-performing team delivering 9 customized conversational AI apps to more than 30,000 weekly users.</div>
    <div class="mb-2">Designed architecture, supervised development, and scaled content & functionality.</div>
    <div class="mb-2">Improved language model quality and customer satisfaction metrics.</div>
    <div class="mb-2">Established MLops pipelines for efficient AI model deployment.</div>
    <div class="mb-2">Created advanced analytics & conversational AI prototypes in on-premise & cloud environments.</div>
    <div class="mb-2">Identified and evaluated CAIP and Voice software vendors for digital transformation proposals.</div>
        </TimeLineElement>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="X24Factory | Ads Automation & Data Engineer"
      subtitle="Oct 2018 – Jun 2020 | Berlin"
    >
    <div class="mb-2">Led the development of an automated advertisement creation & cost management platform, utilizing tracking, inventory & ads performance data.</div>
    <div class="mb-2">Implemented a Data Warehouse infrastructure with data streaming pipelines to support real-time data flow.</div>
    <div class="mb-2">Developed, trained & deployed deep learning models for product classification and recommendation tasks.</div>
    <div class="mb-2">Created ETL pipelines for seamless data integration and processing.</div>
        </TimeLineElement>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Botwise | Co-Founder Machine Learning Engineer"
      subtitle="May 2017 – Nov 2018 | Wrocław"
    >
    <div class="mb-2">Co-founded Botwise, a knowledge bot platform, seamlessly integrating with company knowledge sources for instant answers.</div>
    <div class="mb-2">Utilized machine learning techniques, including text vectorization, to enhance search functionality and improve user experience</div>
    <div class="mb-2">Designed and developed data pipelines, optimizing search results and user analytics.</div>
        </TimeLineElement>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Opera Software | Software Engineer"
      subtitle="Jun  2017 – Oct 2018 | Wrocław"
    >
    <div class="mb-2">Developed and integrated ML text classification models and information extraction pipelines to enhance Opera News Feed's news recommendation engine.</div>
    <div class="mb-2">Created monitoring tools for in-browser advertising systems, ensuring seamless ad delivery and performance tracking.</div>
    <div class="mb-2">Provided Level 3 technical support to partners, resolving mobile payment system issues.</div>
        </TimeLineElement>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="KGHM Cuprum | Data Analyst Intern "
      subtitle="Mar 2016 – Jan 2017 | Wrocław"
    >
    <div class="mb-2">Designed and implemented advanced algorithms for analyzing mining machinery data, employing signal processing techniques and machine learning methodologies.</div>
    <div class="mb-2">Collaborated with a team of engineers and data scientists to develop innovative approaches for optimizing mining operations.</div>

        </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.coursera.org/account/accomplishments/verify/CPN7H2YCYN42" target="_blank">2016-11 Machine Learning, Coursera, Stanford University</a>
    </li>
    <li>
      <a href="https://www.udemy.com/course/docker-mastery/" target="_blank">2018-01 Docker Mastery: with Kubernetes + Swarm, Udemy</a>
    </li>
    <li>
      <a href="https://www.udemy.com/course/spark-and-python-for-big-data-with-pyspark/" target="_blank">2018-12 Spark and Python for Big Data with PySpark, Udemy</a>
    </li>
    <li>
      <a href="https://www.udemy.com/course/orientdb-getting-started/" target="_blank">2020-05 OrientDB: A full introductory course to Graph Databases</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/certification/certified-cloud-practitioner/" target="_blank">2022-03 AWS Certified Cloud Practitioner</a>
    </li>
  </ul>

</BaseLayout>
