---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---
<!-- <text style="color: #DA70D6;">CV </text>, -->
<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello 👋</div>
    <div class="text-5xl font-bold">I'm Maciej Tatarek</div>
    <div class="text-3xl py-3 font-bold">AI Engineer and Consultant</div>
    <div class="py-2">
      <text class="text-lg">
        Experienced AI Specialist with a track record of delivering innovative end-to-end AI solutions across diverse industries. Expert in consulting and possessing strong technical skills. Proven success in achieving favorable outcomes for clients. 
      </text>
    </div>
    <div class="mt-8">
      <a class="bg-pink-500 btn hover:bg-green-700"  href="https://calendly.com/maciej-tatarek93" target="_blank">Schedule a call</a>
      <!-- <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a> -->
    </div>
  </div>

  <div>
    <div class="text-2xl w-full font-bold mb-2">Skills {"</>"}</div>
  </div>
<div class="columns-3">
  <ul class="space-y-1 list-disc list-inside ">
    <li>
        Process Automation
    </li>
    <li>
        MLOps
    </li>
    <li>
        Analytics
    </li>
    <li>
        Knowledge Management
    </li>
    <li>
        Chatbot / Voicebot
    </li>
    <li>
      Cloud Infrastructure
    </li>
    <li>
      Web Development
    </li>
    <li>
      Data Engineering
    </li>
    <li>
      Data Protection
    </li>
  </ul>
</div>
  <!-- <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <div>
    <div class="text-2xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
