---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base font-bold	" id="home" href="https://maciejtatarek.gitlab.io/portfolio/">Home</a></li>
    <!-- <li><a class="py-3 text-base" id="projects" href="/projects">Projects</a></li> -->
    <!-- <li><a class="py-3 text-base" id="services" href="/services">Services</a></li> -->
    <li><a class="py-3 text-base font-bold" id="blog" href="https://maciejtatarek.gitlab.io/portfolio/blog/">Blog</a></li>
    <li><a class="py-3 text-base font-bold	" id="cv" href="https://maciejtatarek.gitlab.io/portfolio/cv/">CV</a></li>
    <li>
        <a
            class="py-3 text-base font-bold	"
            href="mailto:maciej.tatarek93@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Email me</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
